
*.config
*.vsidx
.vs/CodeChallenge/v17/.suo
*.dll
.vs/CodeChallenge/v17/DocumentLayout.backup.json
.vs/CodeChallenge/v17/DocumentLayout.json
CodeChallenge.Tests/bin/Debug/net6.0/appsettings.Development.json
CodeChallenge.Tests/bin/Debug/net6.0/appsettings.json
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.deps.json
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.exe
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.pdb
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.runtimeconfig.json
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.staticwebassets.endpoints.json
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.Tests.Integration.deps.json
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.Tests.Integration.pdb
CodeChallenge.Tests/bin/Debug/net6.0/CodeChallenge.Tests.Integration.runtimeconfig.json
CodeChallenge.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
CodeChallenge.Tests/bin/Debug/net6.0/MvcTestingAppManifest.json
CodeChallenge.Tests/bin/Debug/net6.0/resources/EmployeeSeedData.json
CodeChallenge.Tests/bin/Debug/net6.0/testhost.exe
CodeChallenge.Tests/obj/CodeChallenge.Tests.Integration.csproj.nuget.dgspec.json
CodeChallenge.Tests/obj/CodeChallenge.Tests.Integration.csproj.nuget.g.props
CodeChallenge.Tests/obj/CodeChallenge.Tests.Integration.csproj.nuget.g.targets
CodeChallenge.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CodeChallenge.Tests/obj/Debug/net6.0/CodeChal.8A83EA6E.Up2Date
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.AssemblyInfo.cs
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.AssemblyInfoInputs.cache
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.assets.cache
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.csproj.AssemblyReference.cache
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.csproj.CoreCompileInputs.cache
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.csproj.FileListAbsolute.txt
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.GeneratedMSBuildEditorConfig.editorconfig
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.genruntimeconfig.cache
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.pdb
CodeChallenge.Tests/obj/Debug/net6.0/CodeChallenge.Tests.Integration.sourcelink.json
CodeChallenge.Tests/obj/Debug/net6.0/MvcTestingAppManifest.json
CodeChallenge.Tests/obj/project.assets.json
CodeChallenge.Tests/obj/project.nuget.cache
CodeChallenge/bin/Debug/net6.0/appsettings.Development.json
CodeChallenge/bin/Debug/net6.0/appsettings.json
CodeChallenge/bin/Debug/net6.0/CodeChallenge.deps.json
CodeChallenge/bin/Debug/net6.0/CodeChallenge.exe
CodeChallenge/bin/Debug/net6.0/CodeChallenge.pdb
CodeChallenge/bin/Debug/net6.0/CodeChallenge.runtimeconfig.json
CodeChallenge/bin/Debug/net6.0/CodeChallenge.staticwebassets.endpoints.json
CodeChallenge/bin/Debug/net6.0/resources/EmployeeSeedData.json
CodeChallenge/obj/CodeChallenge.csproj.nuget.dgspec.json
CodeChallenge/obj/CodeChallenge.csproj.nuget.g.props
CodeChallenge/obj/CodeChallenge.csproj.nuget.g.targets
CodeChallenge/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CodeChallenge/obj/Debug/net6.0/ApiEndpoints.json
CodeChallenge/obj/Debug/net6.0/apphost.exe
CodeChallenge/obj/Debug/net6.0/CodeChal.282464F0.Up2Date
CodeChallenge/obj/Debug/net6.0/CodeChallenge.AssemblyInfo.cs
CodeChallenge/obj/Debug/net6.0/CodeChallenge.AssemblyInfoInputs.cache
CodeChallenge/obj/Debug/net6.0/CodeChallenge.assets.cache
CodeChallenge/obj/Debug/net6.0/CodeChallenge.csproj.AssemblyReference.cache
CodeChallenge/obj/Debug/net6.0/CodeChallenge.csproj.CoreCompileInputs.cache
CodeChallenge/obj/Debug/net6.0/CodeChallenge.csproj.FileListAbsolute.txt
CodeChallenge/obj/Debug/net6.0/CodeChallenge.GeneratedMSBuildEditorConfig.editorconfig
CodeChallenge/obj/Debug/net6.0/CodeChallenge.genruntimeconfig.cache
CodeChallenge/obj/Debug/net6.0/CodeChallenge.MvcApplicationPartsAssemblyInfo.cache
CodeChallenge/obj/Debug/net6.0/CodeChallenge.pdb
CodeChallenge/obj/Debug/net6.0/CodeChallenge.sourcelink.json
CodeChallenge/obj/Debug/net6.0/staticwebassets.build.endpoints.json
CodeChallenge/obj/Debug/net6.0/staticwebassets.build.json
CodeChallenge/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
CodeChallenge/obj/Debug/net6.0/staticwebassets.removed.txt
CodeChallenge/obj/Debug/net6.0/staticwebassets/msbuild.build.CodeChallenge.props
CodeChallenge/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.CodeChallenge.props
CodeChallenge/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.CodeChallenge.props
CodeChallenge/obj/project.assets.json
CodeChallenge/obj/project.nuget.cache
